{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if status %}
        {{ status.capitalize }} appointments
    {% else %}All appointments
    {% endif %}
{% endblock %}

{% block content %}
    <main class="container">
        <div class="text-white m-auto">
            {% if appointments|length > 0 %}
                <h3 class="text-white">There are currently {{ appointments|length }} {{ status.lower }}
                    appointments</h3>
                {% for appointment in appointments %}
                    {% include "appointment.html" %}
                {% endfor %}
            {% else %}
                <h3 class="text-white">There are no {{ status.lower }} appointments!</h3>
            {% endif %}
        </div>
    </main>
{% endblock %}