<div class="card mb-3">
    <h4 class="card-header">Day: {{ appointment.day }} / Time: {{ appointment.time }}</h4>
    <div class="card-body">
        Phone: {{ appointment.phone }}<br>
        Status: {{ appointment.status }}
    </div>
    <div class="card-footer d-flex gap-2">
        <form action="{% url 'delete_appointment' appointment.id %}" method="POST">
            {% csrf_token %}
            <button class="btn bg-danger text-white" type="submit">Delete</button>
        </form>
        <form action="{% url 'confirm_appointment' appointment.id %}" method="POST">
            {% csrf_token %}
            <button class="btn bg-success text-white" type="submit">Confirm</button>
        </form>
    </div>
</div>